* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

image.icon {
  fill: #FFF;
}

#wrapper {
  display: grid;
  grid-template-columns: 20em auto;
  grid-template-rows: 200px auto;
  height: 100vh;
}

.sidebar {
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #1A92D3;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
}

.nav {
  display: grid;
  padding: 1.5rem;
  gap: 1.5rem;
}

.nav-item:nth-child(7) {
  margin-top: 2rem;
}

.nav-item > a{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-item span {
  font-size: 1.2em;
}

.header {
  background-color: white;
  box-shadow: 5px 5px 5px red;
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-template-rows: 50px auto; */
}

.search-wrapper {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
}

.search-wrapper input {
  height: 1.8rem;
  width: 80%;
  font-size: .8em;
  background-color: #E2E8F0;
  border: none;
  border-radius: 1rem;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;
}

.title {
  display: grid;
  grid-template-columns: 50px 1fr;
  padding: 0 2rem;
  column-gap: 1rem;
}

.title .title-image {
  grid-row: 1 / 3;
  align-self: center;
  
}

.title .title-name {
  align-self: start;
  grid-column: 2 / 3;
  font-size: 1.5em;
  font-weight: 700;
}

.title .greeting {
  align-self: end;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  
}

.buttons button {
  height: 2.5rem;
  width: 6rem;
  background-color: #1A92D3;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 2rem;
}

.main {
  grid-column-start: 2;
  box-shadow: inset 0px 10px 5px -9px rgba(0, 0, 0, 0.1);
  background-color: #E2E8F0;
  display: grid;
  grid-template-columns: 3fr minmax(200px, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

.main .projects {
  grid-row: 1 / 3;
}

.main .section-title {
  margin-bottom: 1rem;
}

.main .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 2rem;
  position: relative;

}

.main .card,
.announce-block,
.trend-block {
  background-color: white;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  top: 0;
  transition: all 0.1s ease-in;
}

.projects .card {
  /* height: 200px; */

}

.projects .card::before { /* Display gold banding on the left of the card */
  content: " ";
  position: absolute;
  background-color: #F0B429;
  width: 10px;
  height: 100%;
  border-radius: 5px 0 0 5px;
}

.projects .card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2)
}

.projects .article {
  padding: 1.5em;
}

.projects .card-actions {
  text-align: end;
}

.announce-block,
.trend-block {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
  font-size: 0.8em;
}

.announcement {
  position: relative; /*So that the horizontal rule can be positioned relatively*/
}

.announcement::after {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: calc(1.5rem / 2 * -1);
}

.announcement:last-child::after {
  display: none;
}

.trend-item {
  display: grid;
  grid-template-columns: 40px auto;
  column-gap: 1rem;
}

.trend-icon {
  grid-row: 1 / 3;
}

